@(userForm: Form[UserData])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@import helper._
@import b4._

@implicitFieldConstructor = @{ b4.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@main("注册") {
    <h1>注册用户</h1>
    @helper.form(routes.SignupController.signup()) {
      @helper.inputText(userForm("name"))
      @helper.inputText(userForm("age"))
    }

    @b4.form(routes.SignupController.signup) {
      @b4.text(userForm("foo"),'_label -> "Input Text")
    }

}
